body{
	margin:0px;
	padding:0px;
	font-family:"宋体",Tahoma;
	
}
/* 
    Document   : login.html
    Description: 登陆页面样式
*/
/*登录页面logo更换  高42px  宽213px 格式*/
.logo_pic{
	float:left;
	height:42px;
	width:213px;
	background:url(logo_amarsoft.png);
	margin-top:280px;
	margin-left:90px;
	display: inline;
}
.logo_slogan{
	float:left;
	width:213px;
	text-align:center;
	color:#333333;
	font-family: 微软雅黑;
	font-size: 12px;
	margin-top:20px;
	margin-left:90px;
	display: inline;
}

.logon_body{background:url(logon_bg2.gif) repeat-x top;}
.logon{ width:687px; 
        height:603px;
		margin:0 auto;
		background:url(logon.gif) no-repeat top center;}
.logon_mid_center{
  padding-top:255px;
  padding-left:30px;
  width:260px;
  font-size:12px;
  float:left;
	}	
.logon_mid_center span{ color:#C00;font-size:12px; padding-top:10px; padding-left:30px;}
.logon_mid_center .input_class{
	margin-right:30px;
	width:150px;
}
.logon_mid_center .select_class{ 
	margin-right:30px;
	width:155px;
}
.logon_button{margin-top:15px; padding-left:75px;float:left; clear:both; display:inline-block; *+width:180px;}
.button_submit{
	float:left;
	border:0;
	background:url(logon_submit.gif) no-repeat ;
	width:69px;
	height:30px;
	color:#FFF;
	font-size:14.7px;
	cursor: pointer;
}
.button_reset{
	margin-left:17px;
	float:left;
	border:0;
	background:url(logon_reset.gif) no-repeat ;
	width:69px;
	height:30px;
	color:#FFF;
	font-size:14.7px;
	cursor: pointer;
}
.logon_user{
	float:left;
	margin-top:15px;
	width:100%;
	padding:0px;
	color:#576e94;
	font-size:12px;
	text-align:right;
	clear:both;
}	
.logon_footer{
    float:left;
	text-align:center;
	color:#818181;
	font-size:12px;
	line-height:35px;
	margin-top:-120px;
	width:100%; height:15%;}
.logon_footer div{ width:687px; margin:auto; text-align:center;}

/* logon.html css configuration END */
