.pf_menu {
	position: relative;
	width: 100%;
	height: 100%;
}
.pf_menu_mspan {
	position: relative;
	height: 100%;
	float: left;
	display: inline-block;
}
.pf_menu_mbtn {
	display: block;
	height: 100%;
	width: 16px;
	outline: none;
	background: url(../images/pfmenu/menu_more.gif) center no-repeat;
}
a:hover.pf_menu_mbtn {
	background: url(../images/pfmenu/menu_more_hover.gif) center no-repeat;
}
.pf_menu_ul {
	display: none;
	float: left;
	height: 100%;
}
.pf_menu_more {
	display: block;
	position: absolute;
	right: -100px;
	top: 80%;
	width: 200px;
	border: 1px solid #a50011;
	border-radius: 5px;
	background: #fff;
	z-index: 9999999;
	float: left;
}
/* 一级菜单 */
.pf_menu_more li,
.pf_menu_ul li {
	float: left;
	display: inline-block;
	position: relative;
	z-index: 9999999;
}
.pf_menu_more li {
	line-height: 25px;
	position: relative;
	z-index: 9999999;
	width: 100%;
}
.pf_menu_more li a,
.pf_menu_ul li a {
	white-space: nowrap;
	outline: none;
	display: block;
}
.pf_menu_ul li a {
	padding: 0 20px 0 5px;
	background: url(../images/pfmenu/menu_downarrow.gif) right center no-repeat;
}
.pf_menu_more li a {
	width: 100%;
	background: url(../images/pfmenu/menu_leftarrow.gif) 5px center no-repeat;
}
.pf_menu_more li a span {
	margin-left: 12px;
}
.pf_menu_ul li a,
.pf_menu_ul li a:active,
.pf_menu_ul li a:link,
.pf_menu_ul li a:visited {
	color: #fff;
	text-decoration: none;
}
.pf_menu_more li a,
.pf_menu_more li a:active,
.pf_menu_more li a:link,
.pf_menu_more li a:visited {
	color: #333;
	text-decoration: none;
}
.pf_menu_ul li a:hover {
	background: url(../images/pfmenu/menu_hover.png) right center no-repeat;
	color: #333;
}
.pf_menu_more li a:hover {
	background-color: #d27f69;
}
/* 二级菜单 */
.pf_menu_more ul,
.pf_menu_ul ul {
	display: none;
	position: absolute;
	z-index: 9999999;
	width: 482px;
	background: #fff;
	border: 1px solid #a50011;
	border-radius: 5px;
	padding: 10px 0;
}
.pf_menu_ul ul {
	background: url(../images/pfmenu/menu_bg.png) left top no-repeat;
	border-width: 0 0 1px 0;
}
.pf_menu_ul ul {
	left: -105px;
	top: 80%;
}
.pf_menu_more ul {
	right: 198px;
	top: -5px;
}
.pf_menu_more ul li,
.pf_menu_ul ul li {
	height: auto;
	line-height: 25px;
	width: 150px;
	margin: 0 5px;
}
.pf_menu_more ul li a,
.pf_menu_ul ul li a {
	display: block;
	overflow: hidden;
	width: 100%;
	padding: 0;
	background: none;
	border-bottom: 1px solid #0151b4;
	font-weight: bold;
}
.pf_menu_more ul li a,
.pf_menu_more ul li a:hover,
.pf_menu_more ul li a:active,
.pf_menu_more ul li a:link,
.pf_menu_more ul li a:visited,
.pf_menu_ul ul li a,
.pf_menu_ul ul li a:hover,
.pf_menu_ul ul li a:active,
.pf_menu_ul ul li a:link,
.pf_menu_ul ul li a:visited {
	color: #333;
}
.pf_menu_more ul li a:hover,
.pf_menu_ul ul li a:hover {
	background: #d27f69;
}
/* 三级菜单 */
.pf_menu_more ul ul,
.pf_menu_ul ul ul {
	display: block;
	position: static;
	width: 100%;
	padding: 0;
	border: none;
	background: none;
}
.pf_menu_more ul ul li,
.pf_menu_ul ul ul li {
	margin: 0;
}
.pf_menu_more ul ul li a,
.pf_menu_ul ul ul li a {
	border: none;
	font-weight: normal;
}
.pf_menu_ul ul ul li a.folder {
	background-image: url(../images/pfmenu/menu_rightarrow.gif);
	background-position: 5px center;
	background-repeat: no-repeat;
}
.pf_menu_more ul ul span,
.pf_menu_ul ul ul span {
	display: inline-block;
	margin-left: 20px;
	cursor: pointer;
}
/* 四级菜单 */
.pf_menu_more ul ul ul,
.pf_menu_ul ul ul ul {
	display: none;
}
.pf_menu_more ul ul ul span,
.pf_menu_ul ul ul ul span {
	margin-left: 40px;
}